<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loginapp">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginApp">
        <activity android:name=".Home.Target"></activity>
        <activity android:name=".Home.Chat" />
        <activity android:name=".Home.Profile" />
        <activity android:name=".Home.Achievement" />
        <activity android:name=".DangNhap.HomeActivity" />
        <activity android:name=".DangNhap.ForgotPassword" />
        <activity android:name=".DangNhap.SignUp" />
        <activity android:name=".DangNhap.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>